body {
    background-color: blanchedalmond;
    color: rgb(22, 21, 21);
}

main, footer {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, nav {
    text-align: center;
}

nav a {
    color: rgb(22, 21, 21);
}

nav a:hover {
    color: brown;
}

figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}

p {
    margin: 2rem 0;
}


.hangingindent {
    padding-left: 30px;
    text-indent: -30px;
}

.validation-link {
    border:0;
    width:88px;
    height:31px;
}

footer {
    margin-top: 12%;
}