body {
    background-color: blanchedalmond;
    font-family: Bodoni MT, Garamond, serif;

}

h1, h2, nav {
    text-align: center;
}

nav > a {
    color: black;
}

nav > a:hover {
    color: brown;
}

p {
    margin: auto 2rem;
}

.validation-link {
    border:0;
    width:88px;
    height:31px;
}