<h1 class="center">Stephanie Ijiogbe's Secretive Impala || ITSC 1110</h1>
        <nav class="center" id="main-nav">
            <a href="./">Home</a>
                &diams;
            <a href="contract.html">Contract</a>
                &diams;
            <a href="introduction.html">Introduction</a>
                &diams;
            <a href="aiintroduction.html">AI Introduction</a>
        </nav>

        <nav class="center" id="second-nav">
            &loz;
            <a href="slideshow.html">Slideshow</a>
            &loz;
        </nav>

