<h1>Stephanie Ijiogbe's Secretive Impala || ITIS 3135</h1>
        <nav id="main-nav">
            <a href="./">Home</a>
            &diams;
            <a href="introduction.html">Introduction</a>
            &diams;
            <a href="contract.html">Contract</a>
            &diams;
            <a href="website_evaluations.html">Website Evaluations</a>
            &diams;
            <a href="byo_intro.html">BYO Intro</a>
            &diams;
            <a href="project_overview.html">Project Overview</a>
            &diams;
            <a href="slideshow.html">Slideshow</a>
            &diams;
            <a href="drawing.html">Drawing</a>
        </nav>

        <nav id="second-nav">
            <a href="stuff/STUfF%20%26%20craPpy.htm">Crappy Webpage</a>
            &loz;
            <a href="hobby/index.html">Hobby</a>
            &loz;
            <a href="tables.html">HTML Tables</a>
            &loz;
            <a href="forms.html">Forms</a>
            &loz;
            <a href = "https://webpages.charlotte.edu/sijiogbe/fashionreset.org/">Client Project</a>
            &loz;
            <a href="review1.html">Review 1</a>
            &loz;
            <a href="review2.html">Review 2</a>
        </nav>

